@font-face {
  font-family: "Axiforma Extra Bold";
  src: url("/fonts/axiforma-extra-bold.ttf");

  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Axiforma Black";
  src: url("/fonts/axiforma-black.ttf");

  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Averta";
  src: url("/fonts/avertademo-regular.otf");

  /* font-weight: 900; */
  font-style: normal;
}

@tailwind base;
@tailwind components;
@layer components {
  .cta-btn {
    @apply py-4 px-6 relative before:absolute before:w-full before:h-full before:-z-10 before:bg-gradient-to-r before:from-pink before:to-lightPurple before:left-0 before:top-0 before:blur-[10px]  before:rounded-full  before:opacity-40  hover:before:opacity-80  before:transition-all transition-all text-white bg-gradient-to-r mx-auto mt-[2rem] from-pink to-lightPurple flex items-center  rounded-full;
  }
}
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Averta", sans-serif;
}
html {

  @apply bg-black text-gray;

}
#root {
  background: radial-gradient(circle,rgba(2,0,36,0) 0,#000 100%);
  @apply h-screen;
}
body {
  background-image: url("/assets/grid.svg");
  @apply h-screen overflow-y-auto;
  background-position: 50% 54%;
}

h1,
h2,
h3 {
  font-family: "Axiforma Extra Bold", sans-serif !important;
  font-weight: 800;
}
.axiforma-extra-bold {
  font-family: "Axiforma Extra Bold", sans-serif !important;
  font-weight: 800;
}

.axiforma-black {
  font-family: "Axiforma Black", sans-serif !important;
  font-weight: 900;
}
